@font-face {
    font-family: "Yan-Bold";
    src: url("../../fonts/Yantramanav-Bold.ttf");
}

@font-face {
    font-family: "Yan-Regular";
    src: url("../../fonts/Yantramanav-Light.ttf");
}

@font-face {
    font-family: "Yan-Light";
    src: url("../../fonts/Yantramanav-Regular.ttf");
}